/ConsoleApp/.idea/.idea.ConsoleApp/.idea/.gitignore
/ConsoleApp/.idea/.idea.ConsoleApp/.idea/encodings.xml
/ConsoleApp/.idea/.idea.ConsoleApp/.idea/indexLayout.xml
/ConsoleApp/.idea/.idea.ConsoleApp/.idea/vcs.xml
